.conseils-div-wrapper {
	font-weight: bold;
	color: var(--color-text);
	font-family: var(--font-body);
	border-radius: var(--radius-md);
	background-image: url("src/assets/paysan.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 40%;
	aspect-ratio: 2004 / 785;
	padding: 1rem;
}

.conseils-div-p-title {
	font-weight: bold;
	color: var(--color-text);
	font-family: var(--font-body);
	text-transform: uppercase;
	padding-bottom: 1rem;
}

.fade-in {
	opacity: 1;
	transition: opacity 0.5s ease;
}
.fade-out {
	opacity: 0;
	transition: opacity 0.5s ease;
}

.conseils-p {
	width: 100%;
	margin: auto;
	padding-left: 10rem;
	padding-right: 6rem;
}
